@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
*{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    transition: all 0.3s ease;
  }
body{
    background-color: #212121;
}
.navbar{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 60%;
    padding: 30px 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.navbar .menu{
    display: flex;
    justify-content: space-between;
}
.navbar .logo img{
    width: 25%;
    height: 10%;
    border-radius: 50%;
}
.navbar .menu li{
    list-style: none;
    margin: 0 6px;
}
.navbar .menu a{
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s ease;
}
.navbar .menu a:hover{
    color: #ffa31a;
    border-bottom: 2px solid #ffa31a;
}
.navbar .buttons input:hover{
    transform: scale(0.97);
}
.main-form{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    margin: auto;
    position: relative;
    margin-top: 10px;
    width: 60%;
    height: 50%;
    padding: 5px 10px;
    border-radius: 25px;
}

.input-group {
    position: relative;
}
.input-group label{
    color: #f2f2f2;
    font-size: 17px;
}
.form-group label{
    font-size: 20px;
}
.input-group a{
    text-decoration: none;
    color: #ffa31a;
    font-size: 17px;
}
input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    height: 10px;
    width: 60%;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    text-align: center;
}
.input:focus, input:valid {
    outline: none;
    border: 1.5px solid #ffee00;
}   
button{
    background: #212121;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    color:whitesmoke;
    cursor: pointer;
    margin-top: 2%;
}
button:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}
button:hover:not(:disabled) {
    background: #ffa31a;
    border-top: 1px solid #ffee00;
    border-left: 1px solid #ffee00;
    border-right: 1px solid #ffee00;
    border-bottom: 1px solid #ffee00;
    color: #1b1b1b;
    transition: 0.5s ease;
}
.btnSubmit-btn-block button:disabled {
    cursor: auto;
    color: grey;
}

select{
    background: #212121;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    color:whitesmoke;
    cursor: pointer;
    margin-top: 2%;
    transition: 0.5s ease;
}
/*FOR TABLET RESPONSIVE STARTS HERE*/
@media only screen and (max-width:1300px) {
    .navbar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 80%;
    }
    .input-group a{
        text-decoration: none;
        color: #ffee00;
        font-size: 14px;
    }
    .input-group p{
        text-decoration: none;
        color: #000000;
        font-size: 14px;
    }
    .navbar .menu {
    margin: 10px 0 20px 0;
    margin-bottom: 1%;
    }
    .navbar .logo img{
        width: 15%;
    }
    .navbar .menu a{
        font-size: 18px;

    }
    .navbar .logo{
        width: 100%;
        height: 100%;
        margin-left: 90%;
    }
    .input-group label{
        color: #f2f2f2;
        font-size: 18px;
    }
    .main-form{
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 25px;
        margin: auto;
        position: relative;
        margin-top: 10px;
        width: 80%;
        padding: 5px 10px;
        border-radius: 25px;
    }
    .input {
        border: solid 1.5px #9e9e9e;
        border-radius: 1rem;
        background: none;
        font-size: 1rem;
        width: 70%;
        color: #f5f5f5;
        transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    }
    button {
        background: #212121;
        border: none;
        padding: 6px 12px;
        font-size: 17px;
        border-radius: 10px;
        color:whitesmoke;
        cursor: pointer;
       }
    .submit-button{
        background: #212121;
        border: none;
        padding: 6px 12px;
        font-size: 17px;
        border-radius: 10px;
        color:whitesmoke;
        cursor: pointer;
    }
}
/*FOR MOBILE RESPONSIVE STARTS HERE*/
@media only screen and (max-width:767px) {
    .navbar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 90%;
    }
    .input-group a{
        text-decoration: none;
        color: #ffee00;
        font-size: 14px;
    }
    .input-group p{
        text-decoration: none;
        color: #000000;
        font-size: 14px;
    }
    .navbar .menu {
    margin: 10px 0 20px 0;
    margin-bottom: 1%;
    }
    .navbar .logo img{
        width: 15%;
    }
    .navbar .menu a{
        font-size: 17px;
    }
    .navbar .logo{
        width: 100%;
        height: 100%;
        margin-left: 90%;
    }
    .form-group label{
        font-size: 17px;
    }
    .main-form{
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 25px;
        margin: auto;
        position: relative;
        margin-top: 10px;
        width: 90%;
        padding: 5px 10px;
        border-radius: 25px;
    }
    .input {
        border: solid 1.5px #9e9e9e;
        border-radius: 1rem;
        background: none;
        padding: 1rem;
        font-size: 16px;
        height: 10px;
        width: 70%;
        color: #f5f5f5;
        transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    }
    button {
        background: #212121;
        border: none;
        padding: 4px 10px;
        font-size: 12px;
        border-radius: 10px;
        color:whitesmoke;
        cursor: pointer;
       }
    .btnSubmit-btn-block{
        background: #212121;
        border: none;
        padding: 15px 15px;
        font-size: 12px;
        border-radius: 10px;
        color:whitesmoke;
        cursor: pointer;
    }
}